.navbar {
    color: white;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: .2s;
    margin-bottom: 3rem;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.navbar li {
    list-style-type: none;
    padding: .5rem;
}