#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;
    text-align: center;
}

.pfp {
    width: 40%;
    border-radius: 50%;
    margin-top: .5rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
}

.pfp:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px;
}

.speechTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100dvw;
}

.speechBubbleBody {
    background-color: #dddde1;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
    color: #282828;
    width: fit-content;
    min-width: 60px;
    max-width: 100%;
}

.speechBubbleTailBottom {
    position: absolute;
    bottom: -20px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #dddde1;
}

.introduction {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.introduction p {
    width: 65%;
}

.introduction img {
    width: 35%;
    max-width: 100%;
    transition: .2s;
}

@media only screen and (orientation: portrait) {
    .introduction {
        flex-direction: column;
    }

    .introduction p {
        width: 100%;
    }

    .introduction img {
        width: 100%;
        max-width: 500px;
    }
}

.introduction img:hover {
    animation: snapRotate 4s steps(6) infinite;
}

@keyframes snapRotate {
    0% {
        transform: rotate(0deg);
    }
    16.67% {
        transform: rotate(20deg);
    }
    33.34% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(20deg);
    }
    66.67% {
        transform: rotate(-20deg);
    }
    83.34% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.projectShowcase {
    width: 100%;
    margin-top: 2rem;
}