.typing-title {
    width: 36ch;
    animation: typing 2s steps(36), blink .8s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    max-width: 100%;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}